* {
  margin: 0;
}

:root {
  --bg-color-cool1:
    linear-gradient(45deg, black, white, black, transparent 50%),
    linear-gradient(135deg, black, white, black, transparent 50%),
    linear-gradient(225deg, black, white, black, transparent 50%),
    linear-gradient(315deg, black, white, black, transparent 50%);

  --bg-color-cool2:
    linear-gradient(
    45deg,
    rgb(231, 31, 31),
    black,
    rgb(104, 95, 42),
    transparent 50%
  ), linear-gradient(135deg, rgb(133, 34, 34), black, gold, transparent 50%),
    linear-gradient(
    225deg,
    rgb(137, 42, 42),
    black,
    rgb(191, 180, 116),
    transparent 50%
  ), linear-gradient(
    315deg,
    rgb(217, 132, 132),
    black,
    rgb(236, 221, 135),
    transparent 50%
  );
}

.display {
  width: 100vw;
  height: 100vh;
  display: flex;
}

a {
  color: white;
}

.side-bar {
  width: 20%;
  flex-direction: column;
  border-right: 2px solid rgb(77, 72, 72);
  flex-shrink: 0;
}

.each-gradient {
  display: flex;
  width: 100%;
  height: 2em;
  color: white;
  border: 1px solid rgb(4, 0, 0);
  font-size: 2em;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 63, 67);
}

.gradient-cool1 {
  flex-grow: 1;
  background: var(--bg-color-cool1);
}

.gradient-cool2 {
  flex-grow: 1;
  background: var(--bg-color-cool2);
}

.gradient {
  flex-grow: 1;
  background-color: ghostwhite;
}

#cool1 {
  background: var(--bg-color-cool1);
}

#cool2 {
  background: var(--bg-color-cool2);
}

#cool3 {
  background-color: rgb(213, 59, 59);
}

#_home {
  background-color: rgb(43, 41, 41);
}

a {
  text-decoration: none;
}

#home, #you {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

h1 {
  font-size: 10em;
}

#page, #tube {
  background-color: white;
  color: black;
  border-radius: 0.3em;
  padding: 0.1em;
}

#you {
  width: 100%;
  font-family: sans-serif;
  background-color: white;
  color: white;
}

#tube {
  background-color: white;
  color: red;
}

#something {
  padding: 0.4em 0.3em;
  background-color: red;
  border: 2px solid red;
  border-radius: 0.1em;
}
